<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>WebApi</display-name>
  <servlet>
    <servlet-name>proxyServlet</servlet-name>
    <servlet-class>indi.api.servlet.OneProxyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>oneLoginServlet</servlet-name>
    <servlet-class>indi.api.servlet.OneLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>oneCollectServlet</servlet-name>
    <servlet-class>indi.api.servlet.OneCollectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getInfoOfArticle</servlet-name>
    <servlet-class>indi.api.servlet.GetInfoOfArticle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>oneGetCollected</servlet-name>
    <servlet-class>indi.api.servlet.OneGetCollected</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>oneGetUserInfo</servlet-name>
    <servlet-class>indi.api.servlet.OneGetUserInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>oneComment</servlet-name>
  	<servlet-class>indi.api.servlet.OneComment</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>oneComment</servlet-name>
  	<url-pattern>/oneComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>oneGetUserInfo</servlet-name>
    <url-pattern>/oneGetUserInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>oneGetCollected</servlet-name>
    <url-pattern>/oneGetCollected</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>proxyServlet</servlet-name>
    <url-pattern>/one</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>oneLoginServlet</servlet-name>
    <url-pattern>/oneLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>oneCollectServlet</servlet-name>
    <url-pattern>/oneCollect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getInfoOfArticle</servlet-name>
    <url-pattern>/getInfoOfArticle</url-pattern>
  </servlet-mapping>
</web-app>